<div class="row">
    <h4>
        <a  {{action "toggleShowTestItem"}} class={{testClass}}>{{test.testDescription}}</a>
    </h4>
    {{#if showTestItem}}
        <div class="col-xs-7 col-lg-7">
            {{ivy-codemirror
              value=test.func
              mode="javascript"
              theme="solarized"
              lineNumbers=true
              smartIndent=true}}
        </div>
        <div class="col-xs-5 col-lg-">
            <p class="test-case">{{{test.extendedTestDescription}}}</p>
            <button {{action "runTest"}} type="button" class="btn {{buttonClass}}">{{buttonCopy}}</button>
            <p class="error-message sm-padding">{{errorMessage}}</p>
        </div>
    {{/if}}
</div>
